  @import "../styles/main.scss";

.container {
  position: relative;
  width: 100%;
}

.select-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid transparentize($color-light-grey, 0.7);
  border-radius: 6px;
  background-color: #fff;
  color: $color-light-grey;
  cursor: pointer;
  &:focus {
    outline: none;
    border: 1px solid $color-light-grey;
  }
}

.icon {
  display: flex;
  transition:all .1s;
}

.select-button--selected {
  color: $color-dark-grey;
}

.select-button--open {
  .icon {
    transform:rotate(180deg)
  }
}

.label {
  display: block;
}

.size--s {
  font-size: $fonts-small-upper;
  .select-button {
    padding: 8px;
    .icon {
      display: none;
    }
  }
  .label {
    margin-bottom: 8px;
    font-size: $fonts-small-upper;
  }
  .options {
    gap: 8px;
    padding: 8px;
    top: 43.3px;
  }
}

.size--l,
.select--m {
  font-size: $fonts-medium;
  .select-button {
    padding: 10px;
  }
  .label {
    margin-bottom: 10px;
    font-size: $fonts-medium;
  }
  .options {
    gap: 10px;
    padding: 10px;
    top: 55px;
  }
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  width: 100%;
  background-color: white;
  border: 1px solid transparentize($color-light-grey, 0.7);
  border-radius: 6px;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  li {
    position: relative;
    label {
      cursor: pointer;
      color: $color-light-grey;
    }
    &:hover {
      label {
        color: $color-secondary-light-grey;
      }
    }

    &:focus {
      label {
        color: $color-secondary-light-grey;
      }
    }
  }
  input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  &:focus-within {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }

  .item-label--checked {
    color: $color-secondary-light-grey;
  }

}

.options--default {
  display: none;
}
.options--opened {
  @include animation("selectSlideShow .1s ease-out forwards");
}

.options--closed {
  @include animation("selectSlideHide .1s ease-out forwards");
}


@keyframes selectSlideHide {
  0% {
    visibility:visible;
    opacity:1;
    transform:translateY(0)
  }
  99% {
    transform:translateY(10px)
  }
  to {
    visibility:hidden;
    opacity:0;
    display: none;
  }
}

@keyframes selectSlideShow  {
  0% {
    opacity:0;
    transform:translateY(10px)
  }
  to {
    opacity:1;
    transform:translateY(0)
  }
}
