@import "../styles/main.scss";

.container {
    position: relative;
    min-width: 340px;
    & .select {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        font-weight: 400;
        line-height: 150%;
    }
}

.size--s {
    & .select {
        font-size: $fonts-small-upper;
        padding: 8px;
    }
}

.size--l {
    & .select {
        font-size: $fonts-medium;
        padding: 10px;
    }
}